<div [ngStyle]="{'overflow': 'hidden', 'overflow-y': 'scroll', 'height': '300px'}">
  <table [ngClass]="['table']" [ngStyle]="{'position': 'relative'}">
    <thead [ngClass]="'thead-dark'">
      <tr>
        <th [ngStyle]="{'position': 'sticky', 'top': 0}">Sender</th>
        <th [ngStyle]="{'position': 'sticky', 'top': 0}">Subject</th>
        <th [ngStyle]="{'position': 'sticky', 'top': 0}">Date</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let message of messages" (click)="viewDetail(message._id)">
        <td>{{message.senderName.first + message.senderName.last}}</td>
        <td>{{message.subject}}</td>
        <td>{{message.date | date:'medium' }}</td>
      </tr>
    </tbody>
  </table>
</div>
